venv
__pycache__
llms/
voices/
temp/*
llms/*
whisper.cpp/whisper.log
*.log
userVoice.*
aiVoice.*
curlResponse.txt
response.txt
chatHistory.txt

# MacOS Workaround for piper-tts and piper-phonemize version issue
piper-phonemize

run.pid
